body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
	margin-top: 50;
}
